<!DOCTYPE html>
<html>
  <head>
    <title>Score</title>
    <style>
      #scoreboard {
        font-family: Arial, sans-serif;
        text-align: center;
      }

      .team-name {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
      }

      .score {
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 20px;
      }

      .period {
        font-size: 16px;
        font-weight: bold;
      }

      .time {
        font-size: 16px;
        font-weight: bold;
      }
    </style>

  </head>
  <body onload="displayRemainingTime()">
    <div class="scoreboard">
    <div id="home-team" class="team-name">Home</div>
    <div id="home-score" class="score">0</div>
    <div  class="period" id="period">Period 1</div>
    <div id="stopwatch" class="time">0:00:00</div>
    <br><br>
    <div id="guest-team" class="team-name">Guest</div>
    <div id="home-score" class="score">0</div>
    
    </div>
    <script>
  function displayRemainingTime() {
    let remainingTime = localStorage.getItem("remainingTimeWhenStopped");
    let homeTeam = localStorage.getItem("homeTeam");
    let guestTeam = localStorage.getItem("guestTeam");
    let period = localStorage.getItem("period");
    
    document.getElementById("home-team").innerHTML = homeTeam;
    document.getElementById("guest-team").innerHTML = guestTeam;
    document.getElementById("period").innerHTML = period;
    
    if (remainingTime) {
      let minutes = Math.floor(remainingTime / 60000);
      let seconds = Math.floor((remainingTime % 60000) / 1000);
      let milliseconds = Math.floor(remainingTime % 1000 / 100);
      if (minutes === 0) {
        document.getElementById("stopwatch").innerHTML =
          seconds + "." + milliseconds;
      } else {
        document.getElementById("stopwatch").innerHTML =
          minutes + ":" + seconds.toString().padStart(2, "0");
      }
    } else {
      document.getElementById("stopwatch").innerHTML = "No remaining time found."
    }
    
    
  }

   setInterval(displayRemainingTime, 10);
</script>
  </body>
</html>

